apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
      matchLabels:
        app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: esp
        image: gcr.io/endpoints-release/endpoints-runtime:1.38.0
        args: [
          "--http_port=9001",
          "--http2_port=9000",
          "--service=gateway.endpoints.logical-flame-194710.cloud.goog", # Update
          "--rollout_strategy=managed",
          "--backend=grpc://127.0.0.1:4040"
        ]
        ports:
          - containerPort: 9000
          - containerPort: 9001
      - name: gateway
        image: gcr.io/logical-flame-194710/gateway # Update
        imagePullPolicy: Always
        ports:
        - containerPort: 4040
          protocol: TCP
        - containerPort: 8080
          name: 'metrics'
          protocol: TCP
        env:
        - name: SPATIAL_REFRESH_TOKEN
          valueFrom:
            secretKeyRef:
              name: spatialos-refresh-token
              key: service-account.txt
        - name: REDIS_CONNECTION_STRING
          valueFrom:
            configMapKeyRef:
              name: online-services-config
              key: redis.connection-string
        args:
        - --redis_connection_string
        - "$(REDIS_CONNECTION_STRING)"
        - --grpc_service_port
        - "4040"
        - --analytics.endpoint
        - "http://analytics.endpoints.logical-flame-194710.cloud.goog:80/v1/event"
        - --analytics.allow-insecure-endpoint
        - --analytics.config-file-path
        - "/config/config-analytics.yaml"
        - --analytics.gcp-key-path
        - "/secrets/analytics-api-key.txt"
        - --analytics.environment
        - "testing"
        volumeMounts:
        - mountPath: /secrets/
          name: analytics-api-key
        - mountPath: /config/
          name: config-analytics
      volumes:
      - name: analytics-api-key
        secret:
          secretName: analytics-api-key
      - name: config-analytics
        configMap:
          name: config-analytics
